.main_header_div {
  display: flex;
  background-color: #1b3c53;
  height: 100px;
}
.header_left_side {
  width: 50%;
  display: flex;
  align-items: center;
}
.header_left_side img {
  width: auto;
  height: 80px;
}
.header_left_side h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(210, 222, 226);
  padding-left: 5px;
}
.header_right_side {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}
.header_right_side input {
  box-shadow: 0 0 10px #234c6a;
  border-radius: 10px;
  padding: 8px 15px;
  width: 60%;
}
