@font-face {
  font-family: Acme-Regular;
  src: url("/assets/fonts/Acme-Regular.ttf");
}
@font-face {
  font-family: SignikaNegative-VariableFont_wght;
  src: url("/assets/fonts/SignikaNegative-VariableFont_wght.ttf");
}

.main_header_div {
  display: flex;
  background-color: #1b3c53;
  height: 100px;
}
.header_left_side {
  width: 50%;
  display: flex;
  align-items: center;
}
.header_left_side img {
  width: auto;
  height: 80px;
}
.header_left_side h1 {
  font-family: Acme-Regular;
  color: rgb(210, 222, 226);
  padding-left: 5px;
}
.header_right_side {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
}
.header_right_side input {
  box-shadow: 0 0 10px #234c6a;
  border-radius: 10px;
  padding: 8px 15px;
  width: 60%;
  font-family: SignikaNegative-VariableFont_wght;
}
